/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/


:root{
  --colordark: rgb(80, 74, 68);
  --colorlight: rgb(199, 189, 178);
}

html {
  font-size: 18px;
}

body {
  background-color: var(--colordark);
  color: var(--colorlight);
}

main{
  transition-duration: 500ms;
}

header li {
  background-color: var(--colordark);
}

header li:hover {
  color: white;
  cursor: pointer;
}

.inverse-color {
  background-color: var(--colorlight);
}

.menu,
.contact {
  color: var(--colordark);
}

.menu-item {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 1fr;

  gap: 5px;

  margin: 10px;
  padding: 10px;
  max-width: 800px;

  border: 2px dotted var(--colordark);
}

.contact {
  height: 100%;
}

.hours {
  margin: 10px;
  font-size: 1.2em;
  font-style: italic;
}

.hours div {
  margin: 5px;
}

.phone {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;

  margin: 15px;
}

.phone-icon {
  fill: var(--colordark);
  height: 30px;
  padding-right: 10px;
}

.phone-number {
  font-size: 1.8em;
}

h1,
.active {
  border-bottom: 3px solid;
}

h1 {
  font-size: 2.5em;
  padding: 10px;
  margin: 5px 0px 15px;
}

h2{
  font-size: 1.8em;
  padding: 30px 0px 10px;
}

h3 {
  font-size: 1.2em;
}


/**********/
/* LAYOUT */
/**********/


header,
footer{
  height: 50px;
}

main,
header ul,
header,
footer,
.home,
.menu,
.contact {
  display: flex;
}

.menu,
main,
.contact {
  flex-direction: column;
}

main {
  min-height: calc(100vh - 100px);
}

footer,
.home,
.menu,
.contact {
  justify-content: center;
  align-items: center;
}

header ul,
header {
  justify-content: flex-end;
}

header ul {
  margin-right: 30px;
}

header li {
  margin: 10px 20px;
}

header {
  align-items: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
