/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/


:root{
  --colordark: rgb(80, 74, 68);
  --colorlight: rgb(199, 189, 178);
}

html {
  font-size: 18px;
}

body {
  background-color: var(--colordark);
  color: var(--colorlight);
}

main{
  transition-duration: 500ms;
}

.menu {
  color: var(--colordark);
}

header li {
  background-color: var(--colordark);
}

header li:hover {
  color: white;
  cursor: pointer;
}


.inverse-color {
  background-color: var(--colorlight);
}


.menu-item {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 1fr;

  gap: 5px;

  margin: 10px;
  padding: 10px;
  max-width: 800px;

  border: 2px dotted var(--colordark);
}






/**********/
/* LAYOUT */
/**********/


header,
footer{
  height: 50px;
}

main,
header ul,
footer {
  display: flex;
}

main {
  min-height: calc(100vh - 100px);
  flex-direction: column;
}

footer,
main {
  justify-content: center;
  align-items: center;
}

header ul{
  justify-content: flex-end;
}

header li {
  margin: 10px 20px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
